<div class="input-container">
  <form class="message-form">
    <div class="input-group">
      <input type="text" class="form-control" name="message" [(ngModel)]="message" placeholder="Insert a message..." [disabled]="roomId == null">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit" [disabled]="roomId == null" (click)="send()"><i class="material-icons">send</i></button>
      </span>
    </div>
    <!--
    <mat-form-field class="message-full-width">
      <input matInput name="message" placeholder="Insert a message..." [(ngModel)]="message" [disabled]="roomId == null">
      <mat-icon class="send-button" matSuffix (click)="send()">send</mat-icon>
      <input type="submit" style="position: absolute; left: -9999px" (click)="send()" />
    </mat-form-field>
    -->
  </form>
</div>
