

<div class="container">
  <div class="form-container">
    <h1>Chat app</h1>
    <form class="login-form">
      <md-form-field class="login-full-width">
        <input mdInput placeholder="Username" [formControl]="usernameFormControl" [(ngModel)]="userName">
        <md-error *ngIf="usernameFormControl.hasError('required')">
          Username is <strong>required</strong>
        </md-error>
      </md-form-field>
      <md-form-field class="login-full-width">
        <input type="password" mdInput placeholder="Password" [formControl]="passwordFormControl" [(ngModel)]="password">
        <md-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </md-error>
      </md-form-field>
      <button md-raised-button color="primary" (click)="login()">Login</button>
      <button md-raised-button (click)="toRegister()">Register</button>
    </form>


  </div>
</div>
