

<div class="container">
  <div class="form-container">
    <h1>Chat app</h1>
    <form class="login-form">
      <md-form-field class="login-full-width">
        <input mdInput placeholder="Username" [formControl]="usernameFormControl" [(ngModel)]="userName">
        <md-error *ngIf="usernameFormControl.hasError('required')">
          Username is <strong>required</strong>
        </md-error>
      </md-form-field>
      <md-form-field class="login-full-width">
        <input type="password" mdInput placeholder="Password" [formControl]="passwordFormControl" [(ngModel)]="password">
        <md-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </md-error>
      </md-form-field>
      <button md-raised-button color="primary" (click)="login()">Login</button>
    </form>

    <!--
    <form>
      <div class="form-group">
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" [(ngModel)]="username" placeholder="Username" />
      </div>
      <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Password"/>
      </div>
      <div class="form-group" id="button-container">
        <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
      </div>
    </form>
    -->
  </div>
</div>
