<div class="my-rooms-container">
  <div class="room-info">
    <h4>Room Info</h4>
    <h5 *ngIf="viewRoom">{{ viewRoom.getRoomName() }}</h5>
    <h5 *ngIf="!viewRoom">No room selected</h5>
    <p *ngIf="viewRoom">
      Created: {{ viewRoom.createdAt | date:'longDate' }}
    </p>
    <p *ngIf="!viewRoom">
      No room selected! Select a room from My rooms to chat with people and view room's info.
    </p>
  </div>
  <div class="my-rooms container-fluid">
    <div class="my-rooms-header">
      <h3>My rooms</h3>
    </div>
    <p *ngIf="rooms.length === 0" style="padding: 10px 20px;">
      You're not in any rooms! Browse and join rooms by opening the left nav bar (<i class="material-icons">menu</i>).
    </p>
    <md-list>
      <md-list-item *ngFor="let room of rooms">
        <button id="{{room.getId()}}" class="room-button" md-button (click)="selectRoom(room.getId())">{{ room.getRoomName() }}</button>
      </md-list-item>
    </md-list>
  </div>

</div>
