@import '../../../styles.scss';

.login-form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.login-full-width {
  width: 100%;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 900;
  font-family: 'Etna';
}

.container h1 {
  font-size: 72px;
}

.register-button {
  float: right;
}

@keyframes blur-effect {
  from {
    filter: blur(0);
  }

  to {
    filter: blur(5px);
  }
}

.img-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom,
    transparentize(mat-color($chat-app-accent), 0.6), transparentize(mat-color($chat-app-primary), 0.6)),
    url("../../assets/back-ground-small.jpeg") no-repeat center center;
  background-size: cover;
  z-index: 0;
  filter:  blur(5px);
  animation: blur-effect;
  animation-duration: 6s;
}

.form-container {
  align-self: center;
  filter: blur(0);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-container a {
  margin-right: 10px;
}

@media screen and (min-height: 1200px) {
  .img-container {
    background: linear-gradient(to bottom,
      transparent, transparent),
      url("../../assets/back-ground-large.jpeg") no-repeat center center;
  }
}
