
<div class="img-container">

</div>
<loader-component></loader-component>
<div class="container">
  <div class="form-container">
    <h1>ChatApp</h1>
    <form class="login-form">
      <mat-form-field class="login-full-width">
        <input matInput placeholder="Username" name="userName" [(ngModel)]="userName">
      </mat-form-field>
      <mat-form-field class="login-full-width">
        <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="password">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
      <button mat-raised-button class="register-button" (click)="toRegister()">Register</button>
    </form>


  </div>
  <footer class="footer">
    <div class="footer-container">
      <a href="/about">About</a>
    </div>
  </footer>
</div>
