
.header {
  font-family: 'Etna';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative;
}

.header h1 {
  font-size: 72px;
}

.back-icon {
  font-size: 70px;
  position: absolute;
  left: 0;
}

.back-icon:hover {
  cursor: pointer;
}

.help-container {
  background-color: #F5F5F5;
  width: 100vw;
  padding: 10px 100px;
  position: relative;
}

.table-container {
  overflow-x: scroll;
}

.img-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom,
    transparent, transparent),
    url("../../../assets/back-ground-small.jpeg") no-repeat center center;
  background-size: cover;
  filter: blur(5px);
  z-index: 0;
}

@media screen and (min-height: 1200px) {
  .img-container {
    background: linear-gradient(to bottom,
      transparent, transparent),
      url("../../../assets/back-ground-large.jpeg") no-repeat center center;
  }
}
