<div class="rooms-container">
  <md-form-field class="input-full-width">
    <input mdInput #filter placeholder="Filter rooms">
  </md-form-field>
  <md-table #table [dataSource]="roomDataSource">

    <!-- Name Column -->
    <ng-container mdColumnDef="name">
      <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.getRoomName()}} </md-cell>
    </ng-container>

    <!-- Locked Column -->
    <ng-container mdColumnDef="locked">
      <md-header-cell *mdHeaderCellDef> Locked </md-header-cell>
      <md-cell *mdCellDef="let element"><i class="material-icons">{{element.secret ? 'lock' : 'lock_open'}}</i></md-cell>
    </ng-container>

    <!-- Join Column -->
    <ng-container mdColumnDef="join">
      <md-header-cell *mdHeaderCellDef>  </md-header-cell>
      <md-cell *mdCellDef="let element">
        <button md-icon-button [color]="getColor(element.inRoom)" (click)="element.inRoom ? leaveRoom(element.id) : joinRoom(element.id)">
          <i class="material-icons">{{element.inRoom ? 'remove' : 'add'}}</i>
        </button>
      </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
  <form class="searc-input" hidden>
    <md-form-field class="input-full-width">
      <input mdInput type="search" placeholder="Search for rooms" [(ngModel)]="searchRoom" name="search">
    </md-form-field>
  </form>
</div>
