<div class="rooms-container">
  <mat-form-field class="input-full-width">
    <input matInput #filter placeholder="Filter rooms">
  </mat-form-field>
  <mat-table #table [dataSource]="roomDataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.getRoomName()}} </mat-cell>
    </ng-container>

    <!-- Locked Column -->
    <ng-container matColumnDef="locked">
      <mat-header-cell *matHeaderCellDef> Private </mat-header-cell>
      <mat-cell *matCellDef="let element"><i class="material-icons">{{element.secret ? 'lock' : 'lock_open'}}</i></mat-cell>
    </ng-container>

    <!-- Join Column -->
    <ng-container matColumnDef="join">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button [color]="getColor(element.inRoom)" (click)="element.inRoom ? leaveRoom(element.id) : joinRoom(element.id)">
          <i class="material-icons">{{element.inRoom ? 'remove' : 'add'}}</i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
