<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="chat-sidenav" mode="over">

    <!-- greeting and close-sidenav button -->
    <mat-grid-list cols="4" class="sidenav-header">
      <mat-grid-tile colspan="3">
        <h1>ChatApp</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <button type="button" mat-icon-button class="brgr-btn" (click)="sidenav.close()">
          <i class="material-icons">menu</i>
        </button>
      </mat-grid-tile>
    </mat-grid-list>


    <mat-accordion>

      <!-- room table -->
      <mat-expansion-panel class="sidenav-items">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Join rooms
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="rooms-container">
          <room-table></room-table>
        </div>
        <button matTooltip="Refresh rooms" mat-mini-fab color="primary" class="refresh-rooms" (click)="refreshRooms()">
          <i class="material-icons">refresh</i>
        </button>
        <button matTooltip="Expand table" mat-mini-fab color="accent" class="expand-room-table" (click)="openRoomModal()">
          <i class="material-icons">add</i>
        </button>
      </mat-expansion-panel>

      <!-- expansion panel for creating a room -->
      <mat-expansion-panel class="sidenav-items">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Create a room
          </mat-panel-title>
        </mat-expansion-panel-header>
        <create-room class="create-room"></create-room>
      </mat-expansion-panel>

      <mat-expansion-panel class="sidenav-items">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Settings
          </mat-panel-title>
        </mat-expansion-panel-header>
        <settings></settings>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-sidenav>

  <!-- sidenav open button (outside sidenav) -->
  <button type="button" id="open-button" mat-icon-button (click)="sidenav.open()">
    <i class="material-icons">menu</i>
  </button>

  <!-- chat view -->
  <chat-view></chat-view>

  <!-- top bar and right sidenav for mobile views -->
  <div class="top-bar">
    <div *ngIf="viewRoom">
      {{viewRoom.getRoomName()}}
    </div>
  <button type="button" mat-icon-button (click)="partSidenav.open()">
    <i class="material-icons">supervisor_account</i>
  </button>
  </div>
  <mat-sidenav #partSidenav class="participants-sidenav" position="end">
    <my-rooms></my-rooms>
    <participant-container></participant-container>

    <button type="button" class="close-button" mat-button-mini (click)="partSidenav.close()">
      <i class="material-icons">close</i>
    </button>
  </mat-sidenav>

</mat-sidenav-container>
