@import '../../../../styles.scss';


.sidenav-container {
  height: 100vh;
  background: none;
}


.chat-sidenav {
  width: 25vw;
  /*background-color: #f5f5f5;*/
}

.sidenav-header {
  background-color: mat-color($chat-app-primary, 700);
  font-family: 'Etna';
}

.sidenav-items {
    background-color: mat-color($chat-app-primary, 100);
    position: relative;
}

.rooms-container {
  margin-bottom: 10px;
  max-height: 35vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.brgr-btn {
  float: right;
}

.expand-room-table {
  z-index: 1000;
  position: absolute;
  bottom: -18px;
  left: 70%;
  -webkit-transform: translateX(-70%);
  transform: translateX(-70%)
}

.refresh-rooms {
  z-index: 1000;
  position: absolute;
  bottom: -18px;
  left: 30%;
  -webkit-transform: translateX(-30%);
  transform: translateX(-30%)
}

.create-room {
  margin-bottom: auto;
}

#open-button {
  z-index: 100;
  position: absolute;
  color: mat-color($chat-app-accent);
}

h4 {
  margin-top: 5px;
}

@media screen and (max-width: 1200px) {
  .chat-sidenav {
    width: 350px;
  }

}
