
<div class="row" id="chat-view-container"  style="padding-left:0px!important;padding-right:0px!important;">
  <!-- rooms-container -->
  <div class="col-sm-12 col-md-3 my-rooms-container" style="background: #e8e8e8;">
    <my-rooms></my-rooms>
  </div>
  <!-- message-container -->
  <div class="col-sm-12 col-md-6 middle-container">

    <message-container></message-container>
    <input-message></input-message>
  </div>
  <!-- participant-container -->
  <div class="col-sm-12 col-md-3" style="background: #e8e8e8;">
    <participant-container></participant-container>
  </div>
</div>
