<div id="chat-view-container">
  <md-grid-list style="height: 100vh;" cols="4" rowHeight="fit">
    <md-grid-tile
      colspan="1"
      rowspan="1"
      style="background: lightblue;">
      <my-rooms></my-rooms>
    </md-grid-tile>
    <md-grid-tile
      colspan="2"
      rowspan="1"
      style="background: lightgreen;">
      <message-container></message-container>
      <input-message></input-message>
    </md-grid-tile>
    <md-grid-tile
      colspan="1"
      rowspan="1"
      style="background: lightpink;">
    </md-grid-tile>
  </md-grid-list>
</div>
