.profile-form {
  width: 300px;
}

.profile-full-width {
  width: 100%;
}

.cancel-button {
  position: absolute;
  right: 0;
}

.form-container {
  align-self: center;
}

#button-container {
  width: 300px;
  position: relative;
}
