@import '../../../../styles.scss';

ul {
  list-style: none;

  padding-left: 0;
}

a {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  color: inherit;
}

.bottom {
  border-bottom: solid grey 1px;
}

a:hover {
  background-color: grey;
  cursor: pointer;
  text-decoration: none;
  background: darken(mat-color($chat-app-primary, 100), 40%);
}
.logout:hover {
  background: mat-color($chat-app-warn);
}

.nav-item {
  width: 100%;
}
