
<ul>
  <li>
    <a (click)="openProfileModal()">Profile</a>
  </li>
  <li>
    <a href="/about" target="_blank">About</a>
  </li>
  <li>
    <a href="/help" target="_blank">Help</a>
  </li>
  <li>
    <a (click)="logout()" class="logout">Log out</a>
  </li>
</ul>

<!--
<md-list>
  <md-list-item>
    <button class="nav-item" (click)="openProfileModal()" md-button>Profile <i class="material-icons">account_circle</i></button>
  </md-list-item>
  <md-list-item>
    <button class="nav-item" md-button (click)="goToAbout()">About <i class="material-icons">info</i></button>
  </md-list-item>
  <md-list-item>
    <button class="nav-item" md-button (click)="goToHelp()">Help <i class="material-icons">help</i></button>
  </md-list-item>
  <md-list-item>
    <button class="nav-item" md-button color="warn" (click)="logout()">Log out <i class="fa fa-sign-out fa-2"></i></button>
  </md-list-item>
</md-list>
-->
