
<ul>
  <li>
    <a (click)="openProfileModal()">Profile</a>
  </li>
  <li>
    <a href="/about" target="_blank">About</a>
  </li>
  <li>
    <a href="/help" target="_blank">Help</a>
  </li>
  <li>
    <a (click)="logout()" class="logout">Log out</a>
  </li>
</ul>

<!--
<mat-list>
  <mat-list-item>
    <button class="nav-item" (click)="openProfileModal()" mat-button>Profile <i class="material-icons">account_circle</i></button>
  </mat-list-item>
  <mat-list-item>
    <button class="nav-item" mat-button (click)="goToAbout()">About <i class="material-icons">info</i></button>
  </mat-list-item>
  <mat-list-item>
    <button class="nav-item" mat-button (click)="goToHelp()">Help <i class="material-icons">help</i></button>
  </mat-list-item>
  <mat-list-item>
    <button class="nav-item" mat-button color="warn" (click)="logout()">Log out <i class="fa fa-sign-out fa-2"></i></button>
  </mat-list-item>
</mat-list>
-->
