<h2 md-dialog-title>Profile</h2>
<md-dialog-content>
  <form class="profile-form" name="profileForm">
    <md-form-field class="profile-full-width">
      <input mdInput placeholder="Username" [formControl]="usernameFormControl" [(ngModel)]="data.userName">
      <md-error *ngIf="usernameFormControl.hasError('required')">
        Username is <strong>required</strong>
      </md-error>
      <md-error *ngIf="usernameFormControl.hasError('minlength')">
        Username should be at least 3 characters
      </md-error>
    </md-form-field>
    <md-form-field class="profile-full-width">
      <input mdInput placeholder="First name" [formControl]="firstNameFormControl" [(ngModel)]="data.firstName">
      <md-error *ngIf="firstNameFormControl.hasError('required')">
        First name is <strong>required</strong>
      </md-error>
    </md-form-field>
    <md-form-field class="profile-full-width">
      <input mdInput placeholder="Last name" [formControl]="lastNameFormControl" [(ngModel)]="data.lastName">
      <md-error *ngIf="lastNameFormControl.hasError('required')">
        Last name is <strong>required</strong>
      </md-error>
    </md-form-field>
    <md-form-field class="profile-full-width">
      <input mdInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="data.email">
      <md-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </md-error>
      <md-error *ngIf="emailFormControl.hasError('email')">
        Please provide proper email address
      </md-error>
    </md-form-field>
    <md-form-field class="profile-full-width">
      <input id="password" (keyup)="passKeyUp()" (focusout)="passKeyUp()" type="password" mdInput name="password" placeholder="New password" [formControl]="passwordFormControl" [(ngModel)]="data.password">
      <md-hint align="start">Set a new password only if you want a new password</md-hint>
      <md-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </md-error>
      <md-error *ngIf="passwordFormControl.hasError('minlength')">
        Password has to be at least <strong>6 characters</strong> long
      </md-error>
    </md-form-field>
    <md-form-field class="profile-full-width">
      <input (keyup)="passKeyUp()" (focusout)="passKeyUp()" id="confirm" type="password" mdInput name="confirmPassword" placeholder="Confirm new password" [formControl]="confirmPasswordFormControl" [(ngModel)]="data.confirmPassword">
      <md-error *ngIf="confirmPasswordFormControl.hasError('required')">
        Confirm password is <strong>required</strong>
      </md-error>
      <md-error *ngIf="!passwordsMatch">
        Passwords do not match!
      </md-error>
    </md-form-field>
  </form>
</md-dialog-content>
<md-dialog-actions id="button-container" >
  <button md-button color="primary" [md-dialog-close]="data" [disabled]="!profileForm.valid || !passwordsMatch">Save</button>
  <button md-button class="cancel-button" color="warn" md-dialog-close>Cancel</button>
</md-dialog-actions>
