<h2 mat-dialog-title>Profile</h2>
<mat-dialog-content>
  <form class="profile-form" name="profileForm">
    <mat-form-field class="profile-full-width">
      <input matInput placeholder="Username" [formControl]="usernameFormControl" [(ngModel)]="data.userName">
      <mat-error *ngIf="usernameFormControl.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="usernameFormControl.hasError('minlength')">
        Username should be at least 3 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field class="profile-full-width">
      <input matInput placeholder="First name" [formControl]="firstNameFormControl" [(ngModel)]="data.firstName">
      <mat-error *ngIf="firstNameFormControl.hasError('required')">
        First name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="profile-full-width">
      <input matInput placeholder="Last name" [formControl]="lastNameFormControl" [(ngModel)]="data.lastName">
      <mat-error *ngIf="lastNameFormControl.hasError('required')">
        Last name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="profile-full-width">
      <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="data.email">
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('email')">
        Please provide proper email address
      </mat-error>
    </mat-form-field>
    <mat-form-field class="profile-full-width">
      <input id="password" (keyup)="passKeyUp()" (focusout)="passKeyUp()" type="password" matInput name="password" placeholder="New password" [formControl]="passwordFormControl" [(ngModel)]="data.password">
      <mat-hint align="start">Set a new password only if you want a new password</mat-hint>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('minlength')">
        Password has to be at least <strong>6 characters</strong> long
      </mat-error>
    </mat-form-field>
    <mat-form-field class="profile-full-width">
      <input (keyup)="passKeyUp()" (focusout)="passKeyUp()" id="confirm" type="password" matInput name="confirmPassword" placeholder="Confirm new password" [formControl]="confirmPasswordFormControl" [(ngModel)]="data.confirmPassword">
      <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
        Confirm password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="!passwordsMatch">
        Passwords do not match!
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions id="button-container" >
  <button mat-button color="primary" [mat-dialog-close]="data" [disabled]="!profileForm.valid || !passwordsMatch">Save</button>
  <button mat-button class="cancel-button" color="warn" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
