<div class="img-container">

</div>
<loader-component></loader-component>
<div class="container header">
  <i class="material-icons back-icon" (click)="goBack()">arrow_back</i>
  <h1>About</h1>
</div>
<div class="container about-container">
  <h3>Info</h3>
  <p>
    This is a chat application software. This software is made as a hobby,
    and it is by no means commercial.<br /><br />
    Looking for <a href="/help" target="_blank">help</a>?
    <br />
  </p>
  <h3>User data</h3>
  <p>
    This software uses user information only to indentify users. Thus, no
    data is collected after registration about users. You do not need to submit
    your real name or email address. This software will not use the email addresses
    submitted by users in any way. No emails will be sent by this sofware. If you
    want your user data to be deleted from this software, please contact to the
    author.
    <br /><br />
  </p>
  <h3>Conversations</h3>
  <p>
    Conversations via this application are not guaranteed to be secure. Thus, do not
    send any confidential information in any rooms in this application. Messages are
    not collected in to any database at the moment. However, this may change in the future.
    <br /><br />

    If you're interested in technology stack and code, look into the project
    repositories at GitHub
    <br />
    <strong>Back end</strong>
    <a href="https://github.com/ppeerttu/chat-app-back" target="_blank">
      <i class="material-icons">open_in_new</i>
    </a>
    <br />
    <strong>Front end</strong>
    <a href="https://github.com/ppeerttu/chat-app-front" target="_blank">
      <i class="material-icons">open_in_new</i>
    </a>
    <br /><br />

    <strong>Author</strong><br />
    Perttu Kärnä<br />
    perttu.karna@gmail.com
  </p>
</div>
