@import '../../../../styles.scss';

.message-container {
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - 60px); /* the message input form takes 80px from the bottom */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  background: none;
}

.own-message {
  float: right;
}

.own-message small {
  float: right;
}

.message {
  width: 100%;
  clear: both;
}

.message p {
  line-height: 85%;
}

.message p small {
  font-size: 10px;
}

.system-message {
  color: mat-color($chat-app-accent);
  opacity: 0.8;
}
