@import '../../../../styles.scss';

.message-container {
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - 47px); /* the message input form takes 47px from the bottom */
  padding-top: 5px;
  background: none;
}

.own-message {
  float: right;
  margin-right: 10px;
}

.own-message small {
  float: right;
}

.message {
  clear: both;
  margin-left: 10px;
}

.message p {
  line-height: 85%;
}

.message p small {
  font-size: 10px;
}

.system-message {
  font-weight: bold;
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .message-container {
    /* leave the space for top bar component */
    padding-top: 45px;
  }
}
