

.sidenav-container {
  width: 100vw;
  height: 100vh;
}

.chat-sidenav-content {
  display: flex;
}

.chat-sidenav {
  padding: 10px 20px 20px 20px;
  width: 25vw;
}

.brgr-btn {
  float: right;
}

.create-room {
  margin-bottom: auto;
}

.logout-btn {
  position: absolute;
  bottom: 20px;
}

h4 {
  margin-top: 5px;
}
