
.sidenav-container {
  height: 100vh;
}

.chat-sidenav {
  padding: 10px 10px 10px 10px;
  width: 25vw;
}

.brgr-btn {
  float: right;
}

chat-view {
  height: 400px;
}
.create-room {
  margin-bottom: auto;
}

.logout-btn {
  position: absolute;
  bottom: 10px;
}

#open-button {
  z-index: 100;
  position: absolute;
}

h4 {
  margin-top: 5px;
}

@media screen and (max-width: 1000px) {
  .chat-sidenav {
    padding: 0 20px 20px 20px;
    width: 300px;
  }
}
